<!DOCTYPE html>
<html>
  <head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="//assets.craftacademy.se/images/favicons/favicon.ico">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "bower_components/craftacademy_styles/source/stylesheets/all.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/blog.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
  </head>
  <body class="{{body_class}} nav-closed">

    {{!-- {{> google_tag_manager }} --}}

    {{!navigation}}

    <div class="site-wrapper">

      {{! Everything else gets inserted here }}
      {{{body}}}


    </div>

    {{> footer}}
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file taken from Casper }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

    {{! Makers JavaScript }}
    <script type="text/javascript" src="{{asset "bower_components/craftacademy_styles/source/javascripts/all.js"}}"></script>
    <script type="text/javascript" src="{{asset "bower_components/craftacademy_styles/source/javascripts/doorbell.js"}}"></script>
    <script type="text/javascript" src="{{asset "bower_components/craftacademy_styles/source/javascripts/jquery.fixedscroll.js"}}"></script>
    {{!-- // <script type="text/javascript" src="{{asset "bower_components/craftacademy_styles/source/javascripts/email_capture.js"}}"></script> --}}
    <script type="text/javascript" src="{{asset "bower_components/craftacademy_styles/source/javascripts/navigation.js"}}"></script>
    {{!-- // <script type="text/javascript" src="{{asset "bower_components/craftacademy_styles/source/javascripts/vendor/retina.min.js"}}"></script> --}}
    <script type="text/javascript" src="{{asset "bower_components/craftacademy_styles/source/javascripts/vendor/slick.js"}}"></script>

    {{! Prism }}
    <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
    <script type="text/javascript">
        window.doorbellOptions = {
            strings: {
                'feedback-button-text': 'Fråga oss',

                'title': 'Fråga oss',
                'feedback-textarea-placeholder': 'Skicka oss dina frågor, åsikter eller förslag...',
                'feedback-label': 'Meddelande',
                'email-input-placeholder': 'Din mailaderss',
                'email-label': 'Email',
                'attach-a-screenshot': 'Attach a screenshot',
                'submit-button-text': 'Skicka',
                'add-attachments-label': 'Add an attachment',

                'message-success' : 'Meddelandet är skickat!',
                'message-error-missing-email': 'Hmm... Du måste ange en email adress',
                'message-error-invalid-email': 'Email adressen du angav verkar ogiltig...',
                'message-error-missing-message': 'Meddelandet är tomt, var det meningen?',
                'message-error-message-too-short': 'Lite väl kort meddelande...'
            },
            appKey: 'zF0anPyXM2iItB1yfkqhwe8iMBdR4mBuiKPuwH2oe0OuFBvK9IFoksmZVigjgaGS'
        };
        (function(d, t) {
           var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/1974?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g);
         }(document, 'script'));
    </script>
  </body>
</html>
